{% extends "master.html.twig" %}

{% block content %}
    <p>Are you sure you want to delete the following recipe?</p>
    <p>{{item.id}}: {{item.name}} </p>
    <div>{{item.description}}</div>
    <br>
    <button style="margin-right: 20px" onclick="window.location='/admin/recipes/recipelist'">Cancel</button>
    <form style="display:inline" method="post" action="/admin/recipes/delete/{{item.id}}">
        <input type="hidden" name="confirmed" value="true">
        <input type="submit" value="Delete forever">
    </form>
{% endblock %}
