{% extends "master.html.twig" %}

{% block title %}Access denied{% endblock %}

{% block content %}
    <div class="alert alert-primary" role="alert">
  <p>Access denied, <a href="/">click to continue</a></p>
</div>
    
{% endblock content %}
