{% extends "master.html.twig" %}

{% block content %}
    <div class="alert alert-primary" role="alert">
  
  <p>User logged in successfully,
        <a href="/"> click to continue</a></p>
</div>

{% endblock content %}
