{% extends "master.html.twig" %}

{% block content %}
    
    <div class="alert alert-primary" role="alert">
  User logged out successfully, <a href="/">click to continue</a>
</div>
{% endblock content %}
